/* Reset Value Box */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 15% 0 15%;
    padding-top: 4rem;
}
/* Header Grid */
.content {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.main {
    padding-right: 65px; 
}

.title h1{
    font-family: 'PT Serif', sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;

    color: #000000;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.description {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #000000;
    margin-bottom: 4rem;

}

/* Cards Images */
.cards {
   width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 0;
    
}

.cards img {
    width: 100%;
    
}

.card-content {
    margin: 1.5rem;
}

.card-image{
    display: flex;
}

.card-midle {
   margin-top: 4rem; 
}

.cards h3{
    display: block;
    padding-top: 0.3em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    font-size: 18px;
}


.cards p{
    font-family: 'PT Serif', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    margin-left: 0.95em;
    writing-mode: vertical-lr;
    text-transform: uppercase;
}

footer {
    left: 547px;
    top: 1448px;
    padding-bottom: 12px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    text-align: center;
    text-align: center/justify;

    color: #BDBDBD;
}

footer a {
    text-decoration: none;
    color: #BDBDBD;
    font-weight: bold;
}

/* PageTeam Mobile */
@media screen and (max-width:850px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;      
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .card-content {
        margin: auto;
    }

    .card-image img {
        width: 70%;
    }

    .footer {
        font-size: 70%;
    }
}
